* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    text-transform: uppercase;
}
li {
    list-style: none;
}
footer {
    background-color: rgb(210, 210, 221);
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    padding: 0 10px;
    min-width: 800px;
}
footer img {
    height: 40px;
    width: 40px;
}
footer button {
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    width: 100px;
}
footer button:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
.box {
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.mark {
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.boxdn {
    position: fixed;
    z-index: 1001;
    width: 300px;
    height: 300px;
    background-color: rgb(207, 207, 207);
    display: block;
    border-radius: 5px;
}
.heder {
    height: calc(300px * 0.15);
    background-color: rgb(216, 221, 197);
    line-height: calc(300px * 0.15);
    text-align: center;
    text-transform: uppercase;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid black;
}
.conten {
    display: flex;
    height: calc(300px * 0.7);
    flex-direction: column;
    justify-content: space-evenly;
}
.conten label {
    font-size: 20px;
    text-align: center;
}
.conten input {
    height: 30px;
    font-size: 20px;
    margin: 0 15px;
    border-radius: 10px;
}
.conten > div {
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: center;
}
.foter {
    border-top: 2px solid black;
    /* background-color: rgb(74, 74, 97); */
    height: calc(300px * 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}
.foter button {
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    border-radius: 5px;
}
/* banner */
.viewer {
    min-width: 1000px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.view {
    display: block;
    width: 800px;
    height: 400px;
    background-color: coral;
}
.view img {
    width: 100%;
    height: 100%;
}
section ul {
    background-color: rgb(230, 225, 225);
    display: flex;
    justify-content: space-between;
}
section ul li img {
    width: 195px;
    height: 70px;
    background-color: darkgray;
}